@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(47, 149, 131, 1) 14%, rgba(204, 204, 212, 1) 49%, rgba(56, 147, 89, 1) 80%, rgba(9, 121, 71, 1) 93%);
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(113, 148, 16, 0.25) 0 13px 27px -5px, rgba(151, 211, 10, 0.3) 0 8px 16px -8px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.main-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.title-span {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: rgb(226, 152, 14);
  text-transform: capitalize;
  font-size: 30px;
}

.refresh {
  height: 40%;
  cursor: pointer;
}

.formAdd {
  width: 100%;
}

.formAdd input {
  width: 100%;
  height: 35px;
  padding: 0 15px;
}

#todo-input:focus {
  outline: 2px solid #d7d6a5;
  border: 1px solid #d7d6a5;
}

.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.main-item {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid gray;
}

.main-edit {
  height: 40px;
  padding: 0 15px;
  align-items: center;
  width: 100%;
  border: 1px solid gray;
  justify-content: space-between;
  background-color: #d7d6a5;
  display: none;
}

.main-edit.active {
  display: flex;
}

.main-item.no-active {
  display: none;
}

.item-input-edit {
  width: 80%;
  height: 100%;
  background-color: #d7d6a5;
  border: none;
}

.item-input-edit:focus {
  border: none;
  outline: none;
}

.delete-item {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.dot {
  height: 80%;
  cursor: pointer;
}

.dot.disabled {
  pointer-events: none;

  /* add other styles to indicate disabled state */
}

.item-check {
  height: 20px;
  width: 20px;
}

.item-detail {
  display: flex;
  gap: 5px;
}

.clear {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.clear:hover {
  background-color: #d7d6a5;
}

.text-gray {
  background-color: rgb(223, 215, 215);
}

.descr {
  color: black;
}

.descr.strike-through {
  text-decoration: line-through;
}
